@import "./constants/const-style"
@import "./fonts/fonts"

body
    padding: 0
    margin: 0
    box-sizing: border-box
    background-color: #dbdbdb

    display: flex
    // align-items: center
    justify-content: center
    width: 100vw
    height: 100vh