@font-face {
  font-family: "GT Eesti Pro Text";
  src: url("./GTEestiProText-Book.otf");
}
@font-face {
  font-family: "GT Eesti Pro Text";
  src: url("./GTEestiProText-Book.otf");
}
@font-face {
  font-family: "GT Eesti Pro Text";
  src: url("./TTHoves-Light.otf");
}