.headerOne_font {
  font-family: "GT Eesti Pro Text";
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.subOneB_font {
  font-family: "GT Eesti Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.subOne_font {
  font-family: "GT Eesti Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.subTwo_font {
  font-family: "GT Eesti Pro Text";
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.subThree_font {
  font-family: "GT Eesti Pro Text";
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.desc_font {
  font-family: "GT Eesti Pro Text";
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.card_container {
  width: 288px;
  min-height: 523px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card_container:not(:last-child) {
  margin-right: 10px;
}
.card_container .card_header {
  background-color: #B3B3B3;
  width: 100%;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 14px;
  color: #FFFFFF;
}
.card_container .card_header button {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: transparent;
  width: 26px;
  height: 26px;
  background-color: #EFF2F6;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.card_container .card_header button svg path {
  background-color: #B3B3B3;
}
.card_container .card_rotor_info_container {
  padding: 0 14px 50px;
  background-color: #EFF2F6;
  width: 100%;
  border-radius: 0 0 20px 20px;
  max-width: 100%;
}
.card_container .card_rotor_info_container hr {
  background-color: #B3B3B3;
  width: 100%;
  height: 1px;
  border: none;
  opacity: 0.7;
}
.card_container .card_rotor_info_container .card_rotor_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card_container .card_rotor_info_container .card_rotor_info .card_rotorName_header {
  margin-right: 10px;
  color: #B3B3B3;
}
.card_container .card_rotor_info_container .card_rotor_info .card_rotorReplacementDate_header {
  background-color: #F4F4F4;
  padding: 4px 10px;
  border-radius: 5px;
}
.card_container .card_rotor_info_container .card_toggleList {
  width: 20px;
  cursor: pointer;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: transparent;
  background-color: #E3E3E3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
  margin-right: 4px;
}
.card_container .card_rotor_info_container .card_toggleList svg {
  -webkit-transform: scale(1.75) rotate(0deg);
          transform: scale(1.75) rotate(0deg);
}
.card_container .card_rotor_info_container .card_toggleList.hidden_bearings {
  -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
}
.card_container .card_rotor_info_container .card_rotorDetailedInfo_block {
  padding: 0 21px;
  max-width: 100%;
  max-height: 100%;
  background-color: #E3E3E3;
  height: 83px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card_container .card_rotor_info_container .card_rotorDetailedInfo_block .card_rotorWorkingDate_header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-right: 10px;
  width: 66px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card_container .card_rotor_info_container .card_rotorDetailedInfo_block .prediction_block {
  max-height: 100%;
  height: 50px;
}
.card_container .card_rotor_info_container .card_rotorDetailedInfo_block .prediction_block p {
  line-height: 0;
  color: #565656;
}
.card_container .card_rotor_info_container .card_rotorDetailedInfo_block .prediction_block p:last-child {
  font-weight: 900;
}
.card_container .card_rotor_info_container .joining_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.card_container .card_rotor_info_container .card_exhausterImg_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E3E3E3;
  padding: 10px;
  max-width: 100%;
  border: 2px solid #C0CCDB;
  border-radius: 5px;
}
.card_container .card_rotor_info_container .card_exhausterImg_block .bearing_1, .card_container .card_rotor_info_container .card_exhausterImg_block .bearing_2 {
  fill: #FCDBCB;
  stroke: #E32112;
}
.card_container .card_rotor_info_container .card_rotorDetailedInfo_mainHeader {
  width: 100%;
  white-space: nowrap;
}
.card_container .card_allBearings_header, .card_container .card_warnings_header {
  font-weight: 900;
}
.card_container .card_bearingBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space;
      -ms-flex-align: space;
          align-items: space;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card_container .card_warningHeader_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card_container .card_warningInfoContainer, .card_container .card_bearingInfoContainer {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card_container .card_warningInfoContainer.hidden_bearings, .card_container .card_bearingInfoContainer.hidden_bearings {
  width: 0;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  opacity: 0;
  top: -400px;
}
.card_container .card_warningInfoContainer.hidden_bearings .card_bearingItem, .card_container .card_bearingInfoContainer.hidden_bearings .card_bearingItem {
  -webkit-animation: chlen 2s linear infinite;
          animation: chlen 2s linear infinite;
}
.card_container .card_bearingItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 242px;
  margin-left: 18px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  height: 30px;
  background-color: #E3E3E3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px;
}
.card_container .card_bearingItem:not(:last-child) {
  margin-bottom: 4px;
}
.card_container .card_bearingItem:hover {
  background-color: #C0CCDB;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
}
.card_container .card_bearingItem .card_bearingItemIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card_container .card_bearingItem .card_bearingItemIcons div {
  width: 24px;
  height: 20px;
  border: 1px solid #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}
.card_container .card_bearingItem .card_bearingItemIcons div:first-child {
  margin-right: 7px;
}
.card_container .card_bearingItem .card_bearingItemIcons .warning {
  border-color: #FAB82E;
  background-color: #FFE3B4;
}
.card_container .card_bearingItem .card_bearingItemIcons .warning svg path {
  stroke: #FAB82E;
}
.card_container .card_bearingItem .card_bearingItemIcons .warning svg path:last-child {
  fill: #FAB82E;
  stroke: #FAB82E;
}
.card_container .card_bearingItem .card_bearingItemIcons .danger {
  border-color: #E32112;
  background-color: #FCDBCB;
}
.card_container .card_bearingItem .card_bearingItemIcons .danger svg path, .card_container .card_bearingItem .card_bearingItemIcons .danger svg rect {
  stroke: #E32112;
  stroke: #E32112 !important;
}
.card_container .card_bearingItem .card_bearingItemIcons .danger:first-child {
  margin-right: 7px;
}
.card_container .card_bearingItem .card_bearingItemIcons .danger svg path {
  stroke: #b3b3b3;
}
.card_container .card_bearingItem .card_bearingItemIcons .danger svg path:nth-child(2):last-child {
  fill: #b3b3b3;
  stroke: #b3b3b3;
}
.card_container .card_bearingItem .card_bearingItemIcons .danger:nth-child(1) svg path:last-child {
  stroke: #b3b3b3;
  fill: #b3b3b3;
  stroke: #b3b3b3;
}